In [1]:
import pandas as pd
import os

In [2]:
src_path = r'/home/dmacs/Documents/Final Dissertation/Data/Volumes 2014-2022/'

In [3]:
files = os.listdir(src_path)
files

['Data_html',
 '.~Master_Volumes_Aggregated.xlsx',
 'Volumes Visualisations',
 '.~Volumes_Master_Collated.xlsx',
 'Data_xlsx',
 'Master_Volumes_Aggregated.xlsx',
 'Volumes_Collated',
 'Data_xls',
 'Data_xlsx_EWarning',
 'Volumes_Master_Collated.xlsx']

In [5]:
df = pd.read_excel(src_path + 'Master_Volumes_Aggregated.xlsx')
df

,Year,Month,Year-Mon,Barley,Maize,Mustard,Soyabean,Wheat,Bengal+Gram+Dal+(Chana+Dal),Bengal+Gram(Gram)(Whole)
0,2014,1,201401,9795.84,559420.16,189593.67,445713.43,506936.70,4775.10,88897.24
1,2014,2,201402,10150.19,619812.25,293354.86,468503.14,551422.35,5039.72,167656.47
2,2014,3,201403,53478.21,371756.96,1070311.92,389533.95,2687436.53,5467.20,293386.02
3,2014,4,201404,551574.30,298859.62,1278855.71,200669.12,15485482.85,4635.20,395275.33
4,2014,5,201405,190064.60,245252.83,623628.18,197163.78,10582314.33,7565.70,310446.71
...,...,...,...,...,...,...,...,...,...,...
103,2022,8,202208,10262.17,260833.79,142252.58,290479.25,1122528.08,13070.87,111674.88
104,2022,9,202209,9794.69,223293.00,136049.76,249192.85,1143310.55,15867.76,95245.79
105,2022,10,202210,8541.57,502673.17,132991.19,1099359.86,868319.38,11712.62,85734.84
106,2022,11,202211,11772.89,1405222.10,197768.38,1367844.01,972416.29,13528.75,113741.43
107,2022,12,202212,9767.50,884494.66,195314.96,750658.59,902530.18,NaN,104418.50

In [7]:
df.describe()

,Year,Month,Year-Mon,Barley,Maize,Mustard,Soyabean,Wheat,Bengal+Gram+Dal+(Chana+Dal),Bengal+Gram(Gram)(Whole)
count,108.000000,108.000000,108.000000,108.000000,1.080000e+02,1.080000e+02,1.080000e+02,1.080000e+02,107.000000,1.080000e+02
mean,2018.000000,6.500000,201806.500000,42019.888056,4.824610e+05,2.662699e+05,4.688062e+05,2.426978e+06,8309.599813,2.026663e+05
std,2.594026,3.468146,259.425804,75423.103320,4.313736e+05,2.624109e+05,3.844190e+05,4.035164e+06,5569.294093,1.799741e+05
min,2014.000000,1.000000,201401.000000,4999.840000,1.046721e+05,4.849282e+04,1.141677e+04,4.225423e+05,0.200000,2.974101e+04
25%,2016.000000,3.750000,201603.750000,9846.157500,2.271289e+05,1.059146e+05,2.318790e+05,6.260350e+05,3615.085000,9.927704e+04
50%,2018.000000,6.500000,201806.500000,14411.100000,3.550766e+05,1.594365e+05,2.953763e+05,8.627639e+05,7935.170000,1.420717e+05
75%,2020.000000,9.250000,202009.250000,44352.172500,6.228958e+05,2.968729e+05,6.511090e+05,1.635960e+06,11767.760000,2.444467e+05
max,2022.000000,12.000000,202212.000000,551574.300000,3.721010e+06,1.307508e+06,1.727671e+06,1.901443e+07,26158.690000,1.200775e+06