In [1]:
!pip3 install openpyxl 
from pathlib import Path

import os
import openpyxl as xl
import pandas as pd

Collated =  Path("/home/dmacs/Documents/Pranav_Phanindra/Data_Scraping_Final/Data_Part_2/Collated")

Requirement already satisfied: openpyxl in /home/dmacs/anaconda3/lib/python3.9/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /home/dmacs/anaconda3/lib/python3.9/site-packages (from openpyxl) (1.1.0)

In [2]:
DataFiles = os.listdir(Collated)
DataFiles.sort()
print(DataFiles)

['12_Mustard.csv', '12_Mustard.xlsx', '13_Soyabean.csv', '13_Soyabean.xlsx', '1_Wheat.xlsx', '263_Bengal+Gram+Dal+(Chana+Dal).xlsx', '29_Barley+(Jau).xlsx', '4_Maize.xlsx', 'Commodity_Graphs', 'State_Graphs']

In [3]:
Mustard = pd.read_csv(Collated / DataFiles[0])

In [4]:
Mustard

,Unnamed: 0,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date,State
0,0,Kurnool,Adoni,Mustard,Other,FAQ,1550.0,1600.0,1575.0,2009-02-20,Andhra Pradesh
1,1,Kurnool,Alur,Mustard,Other,Medium,2918.0,2918.0,2918.0,2013-05-03,Andhra Pradesh
2,2,Kurnool,Alur,Mustard,Mustard,Medium,3018.0,3018.0,3018.0,2013-03-25,Andhra Pradesh
3,3,Kurnool,Alur,Mustard,Other,Medium,3018.0,3018.0,3018.0,2013-03-25,Andhra Pradesh
4,4,Kurnool,Alur,Mustard,Mustard,Medium,2598.0,2598.0,2598.0,2012-04-22,Andhra Pradesh
...,...,...,...,...,...,...,...,...,...,...,...
1014643,64992,Coochbehar,Toofanganj,Mustard,Mustard,FAQ,4300.0,4500.0,4400.0,2016-06-05,West Bengal
1014644,64993,Coochbehar,Toofanganj,Mustard,Mustard,FAQ,4300.0,4500.0,4400.0,2016-06-04,West Bengal
1014645,64994,Coochbehar,Toofanganj,Mustard,Mustard,FAQ,4300.0,4500.0,4400.0,2016-06-03,West Bengal
1014646,64995,Coochbehar,Toofanganj,Mustard,Mustard,FAQ,4300.0,4500.0,4400.0,2016-06-02,West Bengal
1014647,64996,Coochbehar,Toofanganj,Mustard,Mustard,FAQ,4300.0,4500.0,4400.0,2016-06-01,West Bengal

In [5]:
Mustard[Mustard['State'] == 'Andhra Pradesh']

,Unnamed: 0,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date,State
0,0,Kurnool,Adoni,Mustard,Other,FAQ,1550.0,1600.0,1575.0,2009-02-20,Andhra Pradesh
1,1,Kurnool,Alur,Mustard,Other,Medium,2918.0,2918.0,2918.0,2013-05-03,Andhra Pradesh
2,2,Kurnool,Alur,Mustard,Mustard,Medium,3018.0,3018.0,3018.0,2013-03-25,Andhra Pradesh
3,3,Kurnool,Alur,Mustard,Other,Medium,3018.0,3018.0,3018.0,2013-03-25,Andhra Pradesh
4,4,Kurnool,Alur,Mustard,Mustard,Medium,2598.0,2598.0,2598.0,2012-04-22,Andhra Pradesh
5,5,Kurnool,Alur,Mustard,Other,Medium,2557.0,2557.0,2557.0,2012-03-13,Andhra Pradesh
6,6,Kurnool,Alur,Mustard,Other,Medium,2555.0,2555.0,2555.0,2012-03-09,Andhra Pradesh
7,7,Cuddapah,Cuddapah,Mustard,Other,FAQ,3200.0,3300.0,3250.0,2014-05-10,Andhra Pradesh
8,8,Cuddapah,Cuddapah,Mustard,Other,FAQ,2712.0,2725.0,2718.0,2014-03-15,Andhra Pradesh
9,9,Cuddapah,Cuddapah,Mustard,Other,FAQ,2728.0,2850.0,2789.0,2014-03-11,Andhra Pradesh
10,10,Cuddapah,Cuddapah,Mustard,Other,FAQ,2850.0,2875.0,2863.0,2014-03-05,Andhra Pradesh
11,11,Cuddapah,Cuddapah,Mustard,Other,FAQ,2900.0,2925.0,2913.0,2014-03-01,Andhra Pradesh
12,12,Cuddapah,Cuddapah,Mustard,Other,FAQ,2750.0,2825.0,2787.0,2014-02-24,Andhra Pradesh
13,13,Cuddapah,Cuddapah,Mustard,Other,FAQ,2625.0,2677.0,2651.0,2014-02-20,Andhra Pradesh
14,14,Cuddapah,Cuddapah,Mustard,Other,FAQ,2500.0,2600.0,2550.0,2011-06-30,Andhra Pradesh
15,15,Cuddapah,Cuddapah,Mustard,Other,FAQ,2600.0,2700.0,2650.0,2011-06-29,Andhra Pradesh
16,16,Srikakulam,Ichapuram,Mustard,Other,FAQ,3400.0,3575.0,3550.0,2012-06-01,Andhra Pradesh
17,17,Kurnool,Koilkunta,Mustard,Other,FAQ,3600.0,3800.0,3700.0,2013-06-28,Andhra Pradesh
18,18,Kurnool,Koilkunta,Mustard,Other,FAQ,2700.0,2900.0,2800.0,2013-04-24,Andhra Pradesh
19,19,Vijayanagaram,"R and B Guest House,RBZ,Vizianagaram",Mustard,Other,FAQ,2200.0,2515.0,2357.0,2008-05-24,Andhra Pradesh
20,20,Vijayanagaram,"R and B Guest House,RBZ,Vizianagaram",Mustard,Other,FAQ,2200.0,2540.0,2370.0,2008-05-23,Andhra Pradesh